*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #192a32;
    font: 14px "Century Gothic", Futura, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root {
    width: fit-content;
}
.header {
    width: 100%;
    height: 50px;
    background-color: #1f3540;
    color: #f2b237;
    border-bottom: 1px solid #f2b237;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
}
.bottom-nav {
    width: 100%;
    height: 60px;
    background-color: #1f3540;
    color: #f2b237;
    padding: 0 10px;
    border-top: 1px solid #f2b237;
    box-shadow: 0px 5px 13px rgba(0,0,0,0.3);
    position: fixed;
    bottom: 0;
    left: 0;
}
.icon-hold {
    width: fit-content;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}
.icon {
    width: 25px;
    height: auto;
    z-index: 999;
}
.each {
    width: 80px;
    display: block;
    font-size: 11px;
    background-color: #192a32;
    color: #f2b237;
    padding: 1px 10px;
    margin: 0 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.7);
    border: none;
}
.hold-move {
    width: 310px;
    height: 100px;
    margin-top: 18px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
li {
    margin: 5px 0;
}
.each-move {
    width: 98px;
    display: block;
    font-size: 11px;
    background-color: #192a32;
    color: #f2b237;
    padding: 2px 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.5);
    border: none;
}
.board {
    background-color: #192a32;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
.status {
    background-color: #1f3540;
    color: #f2b237;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin: 0 5px 20px 5px;
    padding: 20px;
    box-shadow: 0px 5px 13px rgba(0,0,0,0.3);
    border-radius: 7px;
}
.square {
    width: 90px;
    height: 80px;
    background: #1f3540;
    color: #f2b237;
    box-shadow: 0px 5px 9px rgba(0,0,0,0.4);
    border: none;
    border-radius: 7px;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 34px;
    margin: 7px;
    padding: 0;
    text-align: center;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    margin: 100px 0;
}

.game-info {
    margin: auto;
}
