*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #192a32;
    font: 14px "Century Gothic", Futura, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root {
    width: fit-content;
}
ol, ul {
    padding-left: 30px;
}
.board {
    background-color: #192a32;
    padding: 5px;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 12px;
}
.status {
    background-color: #1f3540;
    color: #f2b237;
    font-size: 18px;
    text-align: center;
    margin: 0 5px 20px 5px;
    padding: 20px;
    box-shadow: 0px 5px 13px rgba(0,0,0,0.6);
    border-radius: 7px;
}
.square {
    width: 90px;
    height: 80px;
    background: #1f3540;
    color: #f2b237;
    box-shadow: 0px 5px 9px rgba(0,0,0,0.7);
    border: none;
    border-radius: 7px;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 34px;
    margin: 7px;
    padding: 0;
    text-align: center;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    margin: 0;
}

.game-info {
    margin-left: 20px;
}
